['data/cfbfcs21.csv']

'16'

In [14]:
import pandas as pd
from glob import glob 

fnames = glob ('data/cfbfcs21.csv')

all_data = []

for fname in fnames:
    data = pd.read_csv(fname) 
    data['year'] = fname.split('/')[1].split('.')[0][-2:]
    all_data.append(data)

all_data = pd.concat(all_data)

all_data.head()

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Fumbles Lost,Interceptions Thrown.y,Turnovers Lost,Turnover Margin,Avg Turnover Margin per Game,Interceptions Thrown_x,Opp Field Goals Made,Field Goals,Interceptions Thrown_y,Total.TDs
0,Furman,12,5.0,7.0,52.0,882.0,4978.0,5.64,43.0,414.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wofford,12,4.0,8.0,126.0,764.0,3533.0,4.62,21.0,294.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
all_data.shape, data.shape

((1231, 303), (116, 153))

In [22]:
from matplotlib import pyplot as plt

plt.figure(figsize=(10,6))

plt.scatter(all_data['X3rd.Percent'], all_data['Win']/all_data['Games']);
plt.xlabel('3rd Down Conversion Percentage 2024');
plt.ylabel('Win Percentage');

plt.title('Win Percentage vs 3rd Down Conversion Percentage for \n FCS SoCon College Football Teams from 2023-2024');

## Win vs. Loss Distributions

In [24]:
all_data[all_data['Team'] == 'Furman']

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Fumbles Lost,Interceptions Thrown.y,Turnovers Lost,Turnover Margin,Avg Turnover Margin per Game,Interceptions Thrown_x,Opp Field Goals Made,Field Goals,Interceptions Thrown_y,Total.TDs
101,Furman,14,10.0,4.0,57.0,1045.0,5758.0,5.51,52.0,411.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Furman,13,8.0,5.0,14.0,950.0,6056.0,6.37,58.0,465.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Furman,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,10.0,18.0,-4.0,-0.33,NaN,NaN,NaN,NaN,NaN
99,Furman,9,6.0,3.0,21.0,647.0,4116.0,6.36,45.0,457.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Furman,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,12.0,2.0,0.15,7.0,16.0,21.0,7.0,NaN
87,Furman,13,8.0,5.0,64.0,1005.0,5313.0,5.29,43.0,408.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0
88,Furman,13,6.0,7.0,110.0,892.0,4385.0,4.92,32.0,337.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
91,Furman,12,5.0,7.0,92.0,781.0,4449.0,5.70,36.0,370.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0
101,Furman,13,7.0,6.0,66.0,1006.0,5180.0,5.15,42.0,398.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Furman,12,5.0,7.0,16.0,999.0,5895.0,5.90,48.0,491.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN